
/*
/////////////////////////////// Global //////////////////////////////////
*/  

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

/*
/////////////////////////////// Header //////////////////////////////////
*/  

/* Using semantic element - header 
    - .header -> header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* Using semantic element - nav
    - div -> nav */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav img {
    width: 35px;
    height: 35px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a changed to header nav ul li a for consistency*/
header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    top: 13px;
    right: 20px;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a607c;
    padding: 23px 35px;
    z-index: 1;
}

.dropdown-content ul {
    width: 310px;
    right: 0;
    background-color: #2a607c;
    border: outset;
    border-width: 1px;
    border-color: black;
    display: block;
    position: absolute;
    z-index: 1;
}

.dropdown-content ul li {
    height: 30px;
}

/*
/////////////////////////////// Main Figure //////////////////////////////////
*/  

/* Changing .hero to .digital-marketing-meeting for speech reader accessibility & descriptive title */
.digital-marketing-meeting {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*
/////////////////////////////// Main //////////////////////////////////
*/  

/* Changing .content to .services */
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sections - grouping duplicate code */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* section images - grouping duplicate code */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* section headers */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* floats - categorized for consistency*/
.search-engine-optimization .float-left, .social-media-marketing .float-left {
    float: left;
    margin-right: 25px;
}

.online-reputation-management .float-right {
    float: right;
    margin-left: 25px;
}

/*
/////////////////////////////// Aside //////////////////////////////////
*/  

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* aside section font - grouping duplicate code */
.benefit-lead, .benefit-brand, .benefit-cost {
    min-height: 268px;  /* added to preserve alignment of main and aside division when browser exceeds width: 1260px */
    margin-bottom: 32px;
    color: #ffffff;
}

/* aside section header - grouping dulicate code */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    /* margin-bottom: 10px; - omitted to line up main and aside boxes */
    text-align: center;
}

/* aside section images - grouping duplicate code */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 0 auto; /* 10px changed to 0 - to line up main and aside boxes */
    max-width: 150px;
}

/*
/////////////////////////////// Footer //////////////////////////////////
*/  

/* Using semantic element - footer
    - .footer -> footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

/*
/////////////////////////////// Device Accessibility //////////////////////////////////
*/

/* Changes according to browser width 
    - added to preserve webpage structure when broswer falls below width: 1060px
    - main & aside alignment threshold is width: 1128px; */ 
@media screen and (max-width: 1040px) {
    /* header */
    header {
        padding-right: 0;
    }

    header nav {
        width: 325px;
        margin-right: 0;
        padding-top: 0;
        background-color: #2a607c;
    }    
}

/* Mobile Accessibility
    - Changes according to viewport width in CSS-resolution (i.e. smartphone pixel ratio) */
@media screen and (max-width: 620px) {
    /* nav button */
    header nav {
        width: 50px;
    }

    header nav ul {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}